body{
    background-color: #222222;
}
p{
	color: #DDDDDD;
}

#bigtext h3, h1{
	color: #DDDDDD;
}
#bigtext-sm h1, h3{
	color: #DDDDDD;
}
.homePage{
    background-color: #222222;
}
.socialArray{
    width: 100%;
    justify-content: space-around;
}
.homePageNav{
    border: 2px solid #DDDDDD;
}
.socialArray svg{
    fill: #CCCCCC;
}   
.socialArray svg:hover{
    fill: #FFFFFF;
}
.navBarLink{
    color: #DDDDDD;
}
.navBarLink:hover{
    color: #000000;
    background-color: #DDDDDD;
}
#togglemenu{
	color: #DDDDDD;
}
#togglemenu:hover{
	color: #000000;
    background-color: #DDDDDD;
}
.disabled{
    color: #DDDDDD;
    background-color: #DDDDDD;
}
.disabled:hover{
    color: #DDDDDD;
    background-color: #DDDDDD;
}
.backNav{
	background-color: #FF5252;
}
.backNav:hover{
	background-color: #FF5252;
}
/*Fullscreen grid*/
@media (max-width: 1799.98px) {
	.img{
	    width: calc(33.3% - 10px);
	}
}
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
	.img{
	    width: calc(50% - 10px);
	}
}
/*
Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.img{
	    width: calc(100% - 10px);
	}
}
/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.navbar{
	    background-color: #222222;
	}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}
