*::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #EEEEEE;
    height: 100vh;
}
div {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
@keyframes homePageSlide{
    from{background-image:  url("../assets/homePage1.jpeg");}
    45%{background-image:  url("../assets/homePage1.jpeg");}
    50%{background-image:  url("../assets/homePage2.jpg");}
    95%{background-image:  url("../assets/homePage2.jpg");}
    to{background-image:  url("../assets/homePage1.jpeg");}
}

.container{
    transition: opacity 0.5s, z-index 1.5s;
}
.homePage{
    position: fixed;
    overflow: scroll;
/*    animation-name: homePageSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;*/
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: scroll;
    opacity: 0%;
    z-index: -10;
}
.homePageNavWrap{
    position: relative;
    margin: auto;
    width: 300px;
}
#bigText{
    position: relative;
    margin: auto;
    width: 185px;
    text-align: left;

}
#bigText:hover{
    cursor: context-menu;
}
#bigText h1{
    position: relative;
    top: -20px;
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 80px;
    margin: 0; 
    letter-spacing: -6px;
    transition: color 0.5s;
}
#bigText h3{
    font-weight: 200;
    font-size: 60px;
    text-shadow: 1px 1px 3px;
    margin-bottom: 0;
    letter-spacing: -4px;
    transition: color 0.5s;
}
#bigText-sm{
    text-align: center;
}
#bigText-sm h1{
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 0; 
    letter-spacing: -4px;
}
#bigText-sm h3{
    font-weight: 200;
    font-size: 40px;
    text-shadow: 1px 1px 3px;
    margin-top: 0;
    letter-spacing: -2px;
}
.homePageNav{
    border: 2px solid #CCCCCC;
    margin-bottom: 20px; 
}
.socialArray{
    width: 100%;
    justify-content: space-around;
}
.socialArray svg{
    width: 30px;
    margin: 3px;
    fill: #000000;
    transition: all 0.2s;
}   
.socialArray svg:hover{
    fill: #CCCCCC;
}
.gallery{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    opacity: 0%;
    z-index: -10;
}
.navbar{
    position: relative;
    text-align: center;
    height: 100%;
    width: 240px;
    overflow: hidden;
    transition: height 0.8s, z-index 0.8s;
}
.navbarlist{
    margin: 0;
    padding: 100px 0px 0px 0px;
    list-style: none;
}
.navCluster{
    display: flex;
}

.navBarLink{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 20px 0px;
    text-decoration: none;
    color: #000000;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.5s, width 0.2s;
}
.navBarLink:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #CCCCCC;
    box-shadow: 0px 0px 3px black;
}
.galleryContent{
    position: absolute;
    left: 240px;
    overflow: scroll;
    width: calc(100% - 240px);
    height: 100%;
    opacity: 0%;
    z-index: -10;
}
.imgsWrapp{
    position: relative;
    columns:383px 4;
    column-gap: 5px;
    padding: 5px;
    width: calc(100% - 10px);
}
.img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition:all 0.2s;
}
.img img{
    width: 100%;
}
#togglemenu{
    position: fixed;
    display: none;
    font-size: 25px;
    height: 35px;
    width: 75px;
    padding-top: 5px;
    margin: 0;
    border-radius: 3px;
    transition: background-color 0.2s, box-shadow 0.2s, font-weight 0.2s;
}
#togglemenu:hover{
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    font-weight: 500;
    background-color: #CCCCCC;
}
.collapsed{
    height: 100%;
    overflow: scroll;
}
.on{
    opacity: 100%;
    z-index: 10;
}
.hid{
    display: none;
    padding: 0;
}
.backNavToggle{
    width: 0%;
}
.disabled{
    color: #000000;
    background-color: #CCCCCC;
    box-shadow: 0px 0px 2px black;
}
.disabled:hover{
    color: #000000;
    background-color: #CCCCCC;
    box-shadow: 0px 0px 2px black;
    cursor: context-menu;
}
.backNav{
    background-color: #FF5252;
}
.backNav:hover{
    background-color: #FF5252;
}